body {
    background-color: #FFF5E1;
}

h1 {
    color: #6F2FDE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

h2 {
    color: #6322D6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p {
    color: #940AA6;
    line-height: 1.6;
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color: #940AA6;
    line-height: 1.6;
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    background-color: #99AAE7;
    border: 5px solid #AF99E7;
    padding: 10px;
    margin: 10px;
    border-radius: 20%;
}

.contenedorCabecera {
    text-align: center;
    justify-content: center;
}

.contenedorPrincipal {
    display: flex;
    justify-content: center;
}

.contenedorDatos {
    display: flex;
    justify-content: flex-end;
    width: 50%;    
}

.contenedorDescripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.contenedorSecundario {
    display: flex;
    justify-content: center;
}

.contenedorImagen {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.contenedorContenido {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.contenedorParrafo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 60%;
}

.textoDescripcion {
    width: 60%;
}

.textoContenido {
    width: 80%;
}



