aside {
    width: 40%;
}

body {
    background-color: #99D1E7;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    background-color: #99AAE7;
    border: 5px solid #AF99E7;
    padding: 10px;
    margin: 10px;
}

div {
    display: flex;
}

.contenedorCabecera {
    text-align: center;
    justify-content: center;
}

.contenedorDatosDescripcion {
    justify-content: space-evenly;
}

.contenedorDatos {
    flex-direction: row;
}

.contenedorDescripcion {
    flex-direction: row;
}

.contenedorContenido {
    flex-direction: column;
}

.contenedorParrafo {
    flex-direction: row;
}

.textoDescripcion {
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 55%;
}

.texto {
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}